h1{
  text-align: center;
  color: #e2e2ee;
  font-weight: bolder;
}
p {
  color: white;
}
img {
  float: left;
}
body {
  background-image: url("../images/leaves.jpg");
}
.sidebar {
  width: 30%;
  float: right;
  background-color: red;
}
.column {
  width: 350;
  float: left;
}
.rowy {
  background-color: blue;
}


